$body-bg: #FFF;
$brand-primary: #29537d;
$brand-bg-secondary: #d3d8de;

@import '~bootstrap/scss/bootstrap.scss';

.navbar {
  background-color: $body-bg;
}

.container-fluid, #root, .container-fluid > div {
  padding: 0;
  height: 100%;
  background-color: $body-bg;
}

.commitContainer {
  margin: 10px 5px;
  padding: 10px 5px;
  background-color: $brand-bg-secondary;
  border-radius: 10px;
}
